<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RestoHub: Find a Perfect Restaurant For You</title>
  <link rel="icon" href="images/logo.png" type="image/x-icon">
</head>

<body>
  <a href="#main-content" id="skip-to-content">Skip to Content</a>
  <header class="app-bar">
    <a href="/" class="logo">
      <h1 id="main-logo">RestoHub.</h1>
    </a>
    <button id="menu-btn" class="menu-icon"><img src="icons/menu.svg" alt="menu icon"></button>
    <nav class="">
      <a href="/">
        <p>Home</p>
      </a>
      <a href="#">
        <p>Favorite</p>
      </a>
      <a href="https://bento.me/dedyirama" target="_blank">
        <p>About Us</p>
      </a>
    </nav>
  </header>
  <main id="main-content">
    <div class="hero">
      <div class="tagline">
        <p>
          Search. <br>
          Find. <br>
          Discover.
        </p>
      </div>
      <div class="hero-img">
        <div class="start">
          <p>Find a Suitable Restaurant For You!</p>
          <button id="cta-button"><span>Let's Start</span> <img src="icons/right-arrow.svg"
              alt="Right arrow"></button>
        </div>
        <img src="images/heros/hero-image_4.jpg" alt="Hero image">
        <div class="end">
          <p><i>Your journey to extraordinary dining experiences starts here.</i></p>
        </div>
      </div>
    </div>
    <section id="restaurant-list">
      <form class="search-bar">
        <input id="searchInput" aria-label="Search restaurant input" aria-placeholder="test" class="search-input"
          type="text" placeholder="Restaurant for you...">
        <button class="submit-btn" type="submit">
          <p>Search</p>
        </button>
      </form>
      <div class="card-container">
      </div>
    </section>
    <article id="article-1">
      <h2> <span class="icon">🚀</span> <span> How to Find Suitable Restaurant For You?</span></h2>
      <p>Are you often overwhelmed when choosing a restaurant? Here are some valuable tips to help you discover the
        perfect dining spot tailored to your preferences</p>
      <ol>
        <li>
          <h3>Define Your Crafings</h3>
          <p>Before deciding on a restaurant, pinpoint the specific cuisine or type of food you're in the mood for.
            Knowing your
            cravings can narrow down your choices.</p>
        </li>
        <li>
          <h3>Consider Dietary Preferences</h3>
          <p>Take into account any dietary restrictions or preferences you may have. Look for restaurants that offer
            options aligned
            with your dietary needs.</p>
        </li>
        <li>
          <h3>Check Reviews and Ratings</h3>
          <p>Browse online reviews and ratings from other diners. Reviews and Ratings can provide
            insights into the overall dining experience, helping you make informed decisions.
          </p>
        </li>
        <li>
          <h3>Location Matters</h3>
          <p>Evaluate the restaurant's location. Choose a place that is convenient for you, considering factors like
            proximity,
            parking, and accessibility.</p>
        </li>
        <li>
          <h3>Explore New Culinary Experiences</h3>
          <p>Don't hesitate to step out of your comfort zone. Consider trying new cuisines or innovative dishes to
            broaden your
            culinary horizons.</p>
        </li>
      </ol>
      <img src="images/heros/hero-image_2.jpg" alt="Side image">
    </article>
  </main>
  <footer>
    <section class="footer-content">
      <div class="logo">
        <a href="/">
          <h2>
            RestoHub.
          </h2>
          <p class="tagline">Search - Find - Discover.</p>
        </a>
      </div>
      <hr class="hr1">
      <div class="contact">
        <h3>Contact</h3>
        <ul>
          <li>Address: Jl. Jend. Sudirman No. 1</li>
          <li>Phone: +62 812 3456 789</a></li>
          <li>Email: dedyirama.ars@gmail.com</li>
        </ul>
      </div>
      <hr class="hr2">
      <div class="follow-us">
        <h3>Follow Us</h3>
        <ul>
          <li><a href="https://instagram.com/dedyirama.pt" target="_blank">Instagram @dedyirama.pt</a></li>
          <li><a href="https://linkedin.com/in/dedyirama" target="_blank">https://linkedin.com/in/dedyirama</a></li>
        </ul>
      </div>
      <hr class="hr3">
      <div>
        <h3>Navigation</h3>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="#">Favorite</a></li>
          <li><a href="https://bento.me/dedyirama" target="_blank">About Us</a></li>
        </ul>
      </div>
    </section>
    <section class="copyright">
      <p>Copyright &copy; 2023 - RestoHub. All Rights Reserved.</p>
    </section>
  </footer>
</body>

</html>